<!DOCTYPE html>
<html lang="en">
<head>
    <title>App</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="row row_border">
            <div class="col col-2">
                <div class="control-panel">
                    <a href="" class="control-panel__add-note control-panel__elem"></a>
                    <a href="" class="control-panel__del-note control-panel__elem"></a>
                    <a href="" class="control-panel__upd-note control-panel__elem"></a>
                    <a href="" class="control-panel__show-note control-panel__elem"></a>
                </div>
            </div>
            <div class="col col-2 col_right">
                <div class="contact">
                    <a href="" class="contact__link">Contact</a>
                </div>
                <div class="auth">
                    <a href="" class="auth__link">Login</a>
                </div>
                <div class="search">
                    <a href="" class="search__link">Search</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-1 col_bg_blue">
                {{{notes}}}
                {{!-- {{{note-all}}} --}}
            </div>
            <div class="col col-4 col_bg_grey">
                 {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>