<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meadworlk Travel</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <header><img src="/img/arrow.png" alt="Логотип Meadowlark Travel" height="50px"></header>
        {{{body}}} 
    </div>
</body>
</html>