<div class="header">
    <h1>Wassuuuuuuppp!!!!</h1>
    <p>Твое предсказание на сегодня:</p>
    <blockquote>{{fortune}}</blockquote>
    <form action="/register" method="post">
        <label>Имя</label><br>
        <input type="text" name="userName" /><br><br>
        <label>Возраст</label><br>
        <input type="number" name="userAge" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
</div>