
<div class="note-add">
    <form action="notes/add" method="post" id="">
        <textarea name="userNote" id="" cols="30" rows="10" placeholder="Add note......"></textarea>
        <input type="submit" value="Сохранить" class="button"/>
    </form>
    This is notes.handlebars
</div>
